*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url(Images/b1.jpg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    animation: slide 15s infinite;
}
@keyframes slide{
    20%{
        background-image: url(Images/b2.jpg);
    }
    40%{
        background-image: url(Images/b3.jpg);
    }
    60%{
        background-image: url(Images/b4.jpg);
    }
    80%{
        background-image: url(Images/b5.jpg);
    }
    100%{
        background-image: url(Images/b6.jpg);
    }
}
ul h4{
    float: left;
    margin-left: 5px;
    shape-outside: border-box;
    columns: 3fff;
    background-blend-mode: multiply;
    margin-top: 40px;
    font-size: 18px;
}
#firstlink {
    margin-left: 610px;
}
ul h4 a:hover{
    background-color: white;
    color: black;
    animation: 20ms ease;
}
ul h4 a{
    color: white;
    border: 1px solid transparent;
    padding:  5px 10px;
}
ul img{
    margin-top: 1px;
    margin-left: 30px;
}
div h1{
    color: rgba(255, 255, 255, 0.795);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 110px;
    font-size: 90px;
    letter-spacing: 12px;
    background-blend-mode: multiply;

}
div form input{
     margin-left: 550px;
     margin-top: 40px;
     width: 160px;
     height: 45px;
     border-radius: 30px;
     padding: 10px 8px;   
     font-size: 15px;
     background-color: rgba(206, 206, 214, 0.733);
     border: 1px solid white; 
     color: aliceblue;
}
div form input:hover{
    background-color: rgba(72, 72, 235, 0.74);
}