*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul h4{
    float: left;
    margin-left: 5px;
    shape-outside: border-box;
    columns: 3fff;
    background-blend-mode: multiply;
    margin-top: 40px;
    font-size: 18px;
}
#firstlink {
    margin-left: 610px;
}
ul h4 a:hover{
    background-color: white;
    color: black;
    animation: 20ms ease;
}
ul h4 a{
    color: white;
    border: 1px solid transparent;
    padding:  5px 10px;
}
body{
    background-image: url(Images/p1.jpg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.card{

    margin-left: 27px;
    width: 225px;
    height: 400px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    margin: 12px;
    
}
.image1{
    background-image: url(Images/p2.jpg);
}
.image2{
    background-image: url(Images/p3.png);
}
.image3{
    background-image: url(Images/p4.jpg);
}
.image4{
    background-image: url(Images/p5.jpg);
}
.image5{
    background-image: url(Images/p6.jpg);
}
.card:hover{
    transform: translateY(-40px);
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;

}
.card p{
    font-size: 10px;
    text-shadow: 0 0 5px #999;
    color: #fff;
}