* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    z-index: 0;
}

body {
    background-image: url(../Images/gopack.jpg);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-color: rgb(172, 216, 255);
}

.col {
    padding-left: 20px;
}

div ul {
    margin-top: 10px;
}

div ul h4 a img {
    width: 30px;
    height: 30px;
    padding: 12px;
    background-color: white;
    border-radius: 15px;
    display: inline-block;
    float: right;
    margin: 14px;
    margin-top: 25px;
}

#firstlink {
    margin-right: 45px;
}

#lastlink {}

div ul h4 img:hover {
    transform: scale(1.5, 1.5);
}

div div img {
    float: left;
    clear: left;
}

div h1 {
    color: rgba(255, 255, 255, 0.795);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 110px;
    font-size: 90px;
    letter-spacing: 12px;
    background-blend-mode: multiply;
}

div form input {
    margin-left: 550px;
    margin-top: 40px;
    width: 160px;
    height: 45px;
    border-radius: 30px;
    padding: 10px 8px;
    font-size: 15px;
    background-color: rgba(206, 206, 214, 0.733);
    border: 1px solid white;
    color: aliceblue;
    margin-bottom: 133px;
}

div form input:hover {
    background-color: rgba(72, 72, 235, 0.74);
}

.card {
    margin-left: 0px;
    width: 370px;
    height: 210px;
    display: inline-block;
    border-radius: 0px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    margin: 20px;
    margin-bottom: 220px;
    z-index: 0;
}

.image1 {
    background-image: url(../Images/gopackagu01.jpg);
}

.image2 {
    background-image: url(../Images/gopackcal01.webp);
}

.image3 {
    background-image: url(../Images/gopackbas01.jpg);
}

.image4 {
    background-image: url(../Images/gopackscu01.webp);
}

.image5 {
    background-image: url(../Images/gopackcho01.jpg);
}

.image6 {
    background-image: url(../Images/gopackbag01.jpg);
}

.image7 {
    background-image: url(../Images/gopackcru01.jpg);
}

.image8 {
    background-image: url(../Images/gopackdud01.jpg);
}

.image9 {
    background-image: url(../Images/gopackanj01.jpg);
}

.image10 {
    background-image: url(../Images/gopackcas01.jpg);
}

.image11 {
    background-image: url(../Images/gopacktha01.jpg);
}

.image12 {
    background-image: url(../Images/gopackgra01.webp);
}

.card:hover {
    transform: translateY(-10px);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    padding: 4px;
    border-radius: 100px;
    padding-top: 6px;
}

#myBtn:hover {
    transform: scale(1.5, 1.5);
}

div button img {
    width: 35px;
    height: 25px;
}

.tags {
    display: inline;
    position: relative;
    float: right;
    font-size: 8px;
}

.tags:hover:after {
    background: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    border-radius: 5px;
    bottom: -18px;
    color: rgb(15, 14, 14);
    content: attr(gloss);
    padding: 2px;
    position: absolute;
    width: 45px;
    text-align: center;
    float: right;
    margin-left: 18px;
}

.tags:hover:before {
    border: solid;
    border-color: rgb(255, 255, 255) transparent;
    border-width: 0 6px 6px 6px;
    bottom: -4px;
    content: "";
    left: 50%;
    position: absolute;
}

div div div p {
    background-color: rgba(236, 85, 39, 0.815);
    font-size: 19px;
    border-radius: 100px;
    color: white;
    width: 60px;
    height: 20px;
    padding: 4px;
    padding-left: 10px;
    padding-bottom: 7px;
    margin-top: 190px;
    margin-left: 24px;
    z-index: 0;
}

div div div img {
    margin-left: 205px;
    margin-top: -29px;
    width: 140px;
    height: 32px;
}

div div div div {
    background-color: rgba(255, 255, 255, 0.945);
    height: 180px;
    width: 337px;
    margin-top: -24px;
    padding: 3px;
    border-radius: 10px;
    padding-left: 15px;
    z-index: -1;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}

div div div div h4 {
    padding-top: 30px;
    color: red;
    margin-bottom: 8px;
}

div div div div h6 {
    padding-right: 12px;
    color: red;
    margin-bottom: 10px;
}

div div div div img {
    margin-left: 0px;
    margin-top: 2px;
    width: 15px;
    height: 15px;
}

div div div div h5 {
    font-size: 10px;
    display: inline;
    margin-left: -70px;
    color: red;
}