* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 0;
}

body {
    background-image: url(../Images/ba0.jpg);
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

div ul {
    margin-top: 10px;
}

div ul h4 a img {
    width: 30px;
    height: 30px;
    padding: 12px;
    background-color: white;
    border-radius: 15px;
    display: inline-block;
    float: right;
    margin: 14px;
    margin-top: 25px;
}

#firstlink {
    margin-right: 45px;
}

#lastlink {}

div ul h4 img:hover {
    transform: scale(1.5, 1.5);
}

div div img {
    float: left;
    clear: left;
}

div h2 {
    color: rgba(255, 255, 255, 0.795);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 60px;
    margin-top: 0px;
    font-size: 80px;
    text-align: start;
    margin-right: 10px;
    background-blend-mode: multiply;
}

div h6 {
    color: rgba(255, 255, 255, 0.795);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 70px;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form1 {
    margin-left: 110px;
}

div h1 {
    text-align: left;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 0px;
    font-size: 70px;
}

div form input:hover,
{
    background-color: rgba(72, 72, 235, 0.74);
}

.card {
    width: 560px;
    height: 410px;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 10px;
    background-size: cover;
    background-position: center;
    margin-left: 40px;
    margin-right: 40px;
}

.image1 {
    background-image: url(../Images/ba1.jpg);
    animation: slide 15s infinite;
    z-index: 0;
}

@keyframes slide {
    50% {
        background-image: url(../Images/ba2.jpg);
    }
    75% {
        background-image: url(../Images/ba3.jpg);
    }
    100% {
        background-image: url(../Images/ba4.jpg);
    }
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
}

#bv {
    position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: none;
}

div div a img {
    width: 25px;
    height: 25px;
    padding: 12px;
    background-color: white;
    border-radius: 20px;
    display: inline-block;
    float: right;
    margin: 14px;
    margin-top: 30px;
}

div div a #linklast {
    margin-right: 200px;
}

div div a p {
    margin-left: 10px;
    color: #fff;
}

.tags {
    display: inline;
    position: relative;
    float: right;
    font-size: 8px;
}

.tags:hover:after {
    background: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    border-radius: 5px;
    bottom: -18px;
    color: rgb(15, 14, 14);
    content: attr(gloss);
    padding: 2px;
    position: absolute;
    width: 45px;
    text-align: center;
    float: right;
    margin-left: 18px;
}

.tags:hover:before {
    border: solid;
    border-color: rgb(255, 255, 255) transparent;
    border-width: 0 6px 6px 6px;
    bottom: -4px;
    content: "";
    left: 50%;
    position: absolute;
}

div h3 {
    color: white;
    margin-left: 70px;
    margin-bottom: 10px;
}

div div div {
    margin-top: 20px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.747);
    padding: 2px;
    height: 25px;
    margin: 25px;
    margin-bottom: 15px;
    margin-top: 6px;
    border-radius: 10px;
}

div div div:hover {
    background-color: rgba(5, 197, 255, 0.959);
    transform: scale(1.1, 1.1);
}

div div div:checked {
    background-color: rgba(101, 5, 255, 0.959);
    transform: scale(1.1, 1.1);
}

div div img {
    width: 20px;
    height: 20px;
    padding-left: 4px;
    margin-bottom: 4px;
    margin-top: 3px;
}

div div #firstimg {
    margin-left: 100px;
}

div div button {
    width: 70px;
    height: 20px;
    background-color: rgba(213, 247, 21, 0);
    align-self: auto;
    color: black;
    border: none;
    top: -11px;
    outline: none;
}

div div button:hover {
    background-color: rgba(255, 0, 0, 0);
}

h1 {
    color: rgba(255, 255, 255, 0.747);
    margin-top: 40px;
    margin-left: 530px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.review {
    width: 200px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    margin: 12px;
    margin-right: 200px;
}

.user {
    width: 320px;
    height: 230px;
    display: inline-block;
    border-radius: 0px;
    padding: 10px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 10px;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
}

.user img {
    margin-left: 110px;
    width: 35px;
    height: 35px;
}

div .user h6 {
    color: rgba(0, 0, 0, 0.719);
    margin-top: 30px;
    margin-left: -10px;
}

div .user h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.719);
}

div .user #name {
    margin-top: 16px;
    font-size: 25px;
    margin-left: 40px;
}

div .user #location {
    margin-left: 110px;
    font-size: 13px;
    margin-top: -9px;
}

div .user #pic {
    width: 80px;
    height: 80px;
    border-radius: 1000px;
    margin-left: 90px;
    margin-top: -5px;
}

div div p {
    color: white;
    margin-left: 128px;
    margin-top: -35px;
    margin-bottom: 10px;
}