body {
    background-image: url(../Images/book1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

img {
    height: 200px;
    position: relative;
    left: 30%;
}

h1 {
    color: whitesmoke;
    font-weight: solid;
    font-size: 53px;
    position: relative;
    left: 30%;
}

form {
    position: relative;
    left: 30%
}

div {
    width: 400px;
    height: 390px;
    color: gold;
    border: 1px solid;
}

#c {
    height: 35px;
    width: 68px;
    outline: none;
}

#a {
    height: 35px;
    width: 68px;
    outline: none;
}

#n {
    height: 35px;
    outline: none;
}

#p {
    height: 35px;
    outline: none;
}

#pc {
    height: 35px;
    outline: none;
}

#s {
    height: 35px;
    width: 100px;
    position: relative;
    left: 30%;
    top: -165px;
    border-radius: 10px;
    font-weight: bold;
    font-family: font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    color: gold;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    margin: 0px;
    position: relative;
    top: -45%;
}

table,
tr,
td {
    padding: 10px;
}